<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowToggler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowToggler.Settings>
            <setting name="ListInvisibleWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListUntitledWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMiddleButtonDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseSimultaneousLeftRightDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseMouseMoveOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHideThisAppHotKey" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModifierKey1ComboBox" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ModifierKey2ComboBox" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ModifierKey3ComboBox" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="VirtualKeyComboBox" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="ThisModifierKey1ComboBox" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ThisModifierKey2ComboBox" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ThisModifierKey3ComboBox" serializeAs="String">
                <value>Alt</value>
            </setting>
            <setting name="ThisVirtualKeyComboBox" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="ListUnableWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowToggler.Settings>
    </userSettings>
</configuration>